<footer class="bg-black text-light py-5">
    <div class="container">
        <div class="row">
            <!-- Logotipo e direitos autorais -->
            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center text-md-start">
                <img src="/login/LogoR77eventos.png" alt="R77 Eventos" class="mb-3" style="width: 150px;">
                <p>&copy; 2023–2024 R77 Eventos<br>Todos os direitos reservados.</p>
            </div>

            <!-- Links úteis -->
            <div class="col-6 col-md-2">
                <h5 class="text-warning">Dúvidas?</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50 text-decoration-none" href="#">O que é a R77?</a></li>
                    <li><a class="text-white-50 text-decoration-none" href="#">O que é Motoclube?</a></li>
                    <li><a class="text-white-50 text-decoration-none" href="#">Eventos e Motoclube</a></li>
                    <li><a class="text-white-50 text-decoration-none" href="#">Como são os Eventos?</a></li>
                </ul>
            </div>

            <!-- Conta -->
            <div class="col-6 col-md-2">
                <h5 class="text-warning">Conta</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50 text-decoration-none" href="#">Minha Conta</a></li>
                    <li><a class="text-white-50 text-decoration-none" href="#">Cadastro</a></li>
                    <li><a class="text-white-50 text-decoration-none" href="#">Login</a></li>
                </ul>
            </div>

            <!-- Redes Sociais -->
            <div class="col-6 col-md-2">
                <h5 class="text-warning">Redes Sociais</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50 text-decoration-none" href="https://www.instagram.com/r77eventos?igsh=MTA3dHlnNHQ3b3JvdA=="><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a class="text-white-50 text-decoration-none" href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                </ul>
            </div>

        </div>

        <!-- Barra inferior -->
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="text-white-50 mb-0">Entretenimento que surpreende com qualidade | R77 Eventos</p>
            </div>
        </div>
    </div>
</footer>