<nav class="navbar navbar-expand-md border-bottom bg-dark" data-bs-theme="dark">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand d-md-none" href="#">
            R77
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
            aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="centro navbar-nav flex-grow-1 justify-content-between bg-dark">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <img src="/login/LogoR77eventos.png" alt="Logo R77 Eventos" style="max-width: 85px;">
                        </a>
                    </li>
                    <% if (flagAdmin==='adm' ) { %>
                        <li class="nav-item"><a class="nav-link text-warning" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" href="/galeria" id="dropdownGaleria" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Galeria
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownGaleria">
                                <li><a class="dropdown-item text-warning" href="/galeria">Ver Galeria</a></li>
                                <li><a class="dropdown-item text-warning" href="/add_galeria">Adicionar Fotos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" href="#" id="dropdownEventos" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Eventos
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownEventos">
                                <li><a class="dropdown-item text-warning" href="/eventos">Ver Todos os Eventos</a></li>
                                <li><a class="dropdown-item text-warning" href="/add_evento">Adicionar Eventos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link text-warning" href="/conta">Conta</a></li>
                        <li class="nav-item"><a class="nav-link text-warning" href="/sobre">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link text-warning" href="/sair">Sair</a></li>
                        <% } else if (flagAdmin==='usuario' ) { %>
                            <li class="nav-item"><a class="nav-link text-warning" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link text-warning" href="/galeria">Galeria</a></li>
                            <li class="nav-item"><a class="nav-link text-warning" href="/eventos">Eventos</a></li>
                            <li class="nav-item"><a class="nav-link text-warning" href="/conta">Conta</a></li>
                            <li class="nav-item"><a class="nav-link text-warning" href="/sobre">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link text-warning" href="/sair">Sair</a></li>
                            <% } else { %>
                                <li class="nav-item"><a class="nav-link text-warning" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link text-warning" href="/galeria">Galeria</a></li>
                                <li class="nav-item"><a class="nav-link text-warning" href="/login">Login</a></li>
                                <li class="nav-item"><a class="nav-link text-warning" href="/cadastrar">Cadastre-se</a>
                                <li class="nav-item"><a class="nav-link text-warning" href="/sobre">Sobre</a></li>
                                </li>
                                <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
    /* Ajustes gerais para o menu */
.navbar-nav li.nav-item a.nav-link {
    font-size: 18px;
    padding: 10px 15px;
}

/* Cor e estilo do dropdown */
.dropdown-menu {
    background-color: #343a40;
    border: none;
}

/* Cor do item do dropdown */
.dropdown-item {
    color: #FDBE1D;
}

.dropdown-item:hover {
    background-color: #495057;
}

/* Ajustes para tornar o menu mais responsivo */
@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        outline: none;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .nav-item {
        width: 100%;
        text-align: left;
    }

    .nav-link {
        padding: 12px 15px;
        font-size: 16px;
        display: block;
        width: 100%;
    }

    .offcanvas {
        width: 75%; /* Largura do menu lateral */
    }

    .offcanvas-body {
        padding: 20px;
    }

    .navbar-brand img {
        max-width: 70px;
    }
}

/* Ajuste para telas muito pequenas */
@media (max-width: 576px) {
    .nav-link {
        font-size: 15px;
        padding: 10px;
    }

    .navbar-brand img {
        max-width: 60px;
    }

    .offcanvas {
        width: 90%;
    }
}

</style>