<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form_login/css/style.css">
    <title>Formulário</title>
</head>

<body>

    <div class="container1">
        <div class="form">
            <form action="/valida_login" method="post">
                <div class="form-header">
                    <div class="title">
                        <h1>Faça Login</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail">
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="senha" placeholder="Digite sua senha">
                    </div>
                </div>

                <% if (typeof validacao !== 'undefined' && validacao.length > 0) { %>
                    <div class="error-messages">
                        <% validacao.forEach(function(error) { %>
                            <p class="error"><%= error.msg %></p>
                        <% }) %>
                    </div>
                <% } %>

                <a href="/cadastrar">Cadastre-se</a>

                <div class="continue-button">
                    <button type="submit">Continuar</button>
                </div>
                
            </form>
        </div>
    </div>

    <style>
        .error-messages {
            margin-top: 10px;
        }
        .error {
            color: red;
            font-weight: bold;
        }
    </style>

</body>

</html>
